@import '../variables.module.scss';

.Quote {
  font-size: 50px;
  &Container {
    background-color: #fff9f7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    // padding: 0 1.5rem;;
    padding-top: 1.5rem;
  }
  &Icon {
    justify-self: flex-start;
  }
  &Content p {
    margin: 0;
    position: relative;
    z-index: 1;
  }
}

.BottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Reactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .Pagination {
    color: $dark-blue;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
}
