@import '../../../styles/variables.module.scss';
.Button {
  border: none;
  border-radius: 6px;
  margin: 0;
  padding: .5rem 1rem;
  font-weight: 600;
  line-height: 22px;
  &_Purple {
    background-color: $purple;
  }
  &_Small {
    padding: .5rem 1rem;
  }
  &_Large {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.25rem;
  }
}